/* for all pages */
:root {
    --primary-light-color: #333333;
    --primary--dark-color: #d3d3d3;

    --secondery-light-color: #4078c0;
    --secondery-dark-color: #67a5f5;

    --accent-light-color: #e50d0d;
    --accent-dark-color: #fb3434;

    --outline--light: 2px solid var(--secondery-light-color);
    --outline--dark: 2px solid var(--secondery-dark-color);

    --border--light: 2px solid var(--secondery-light-color);
    --border--dark: 2px solid var(--secondery-dark-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    color: var(--primary-light-color);
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 1.6rem;
    margin-top: .2rem;
    margin-bottom: .1rem;
    margin-left: .5rem;
}

h2 {
    font-size: 1.3rem;
    margin-top: .2rem;
    margin-bottom: .1rem;
}

h3 {
    font-size: 1.1rem;
    margin-top: .3rem;
    margin-bottom: .1rem;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary--dark-color);
    margin: .5rem;
}

img {
    outline: var(--outline--light);
    border-radius: .5rem;
    width: 75%;
    object-fit: cover;
    margin: 0;
    align-self: center;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vw;
    background-image: url("./imgs/header.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    align-items: flex-start;
    justify-content: space-between;
    position: sticky;
    top: 0;
    filter: grayscale(0);
    transition: filter 3s ease;
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .1;
}

header nav {
    display: flex;
    flex-direction: row;

    margin: 1rem;
}

header ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#mobileMenuButton{
    display: flex;
    margin-top: auto;
    margin-right: 2rem;
    margin-left: 1rem;
    text-decoration: none;
    color: #ffffff;
    border: var(--border--light);
    border-width: .1rem;
    border-radius: .5rem;
    text-align: center;
    padding: .1rem;
    opacity: .9;
}

header nav ul li {
    align-self: center;
    margin: 0.3rem;
}

li a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #ffffff;
    border: var(--border--light);
    border-width: .1rem;
    border-radius: .5rem;
    text-align: center;
    padding: .1rem;
    opacity: .9;
}

li a:hover {
    background-color: var(--secondery-light-color);
}

main {
    display: flex;
    flex-direction:column;
    width: 100%;
}

.block {
    display: flex;
    flex-direction: column;
    padding: .2rem;
    box-shadow: 0 0 10px #a2a2a2;
    margin-bottom: .2rem;
}

.cardBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: .5rem 0;
    border-radius: .5rem;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
transform: translateY(-5px);
box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card p {
    margin: .2rem 0;
}

.card a {
    text-decoration: none;
    color: var(--accent-light-color);
    margin-top: auto;
}

.card a:hover {
    color: var(--accent-light-color);
}

.unit {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.unit img {
    margin: .5rem 0;
}

.skillBox {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: .5rem 0;
}

.skillBox span {
    font-weight: 200;
    font-size: 3rem;
}

progress {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    width: 50vw;
}

#projects, #skills  {
    background: #c8f9cdd5;
    background: linear-gradient(180deg, #FFFFFF 0%, #c8f9cdd5 50%, #FFFFFF 100%);

}

#aboutMe {
    background: #c8e4f9d5;
    background: linear-gradient(180deg, #FFFFFF 0%, #c8e4f9d5 50%, #FFFFFF 100%);

}

.formBox {
    background-color: #c8e4f9d5;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-weight: 200;
    margin: .3rem 0;
}

input, textarea {
    width: 60%;
    padding: .5rem;
    margin-top: .3rem;
    font-size: 1rem;
    border: var(--border--light);
    border-radius: .5rem;
}

input:active, input:focus, textarea:active, textarea:focus {
    outline: var(--outline--light);
    background-color: #ffffff;
}

input::placeholder, textarea::placeholder {
    font-weight: 100;
    opacity: 0.5;
    color: var(--primary-light-color);
}

#message {
    width: 100%;
    height: 5rem;
}

.cta {
    display: block;
    margin: auto;
    padding: .5rem;
    background-color: var(--accent-light-color);
    border-radius: .5rem;
    color: var(--primary--dark-color);
    border: none;
    margin-top: 1.5rem;
    text-transform: uppercase;
    width: 20vw;
    font-size: 1rem;
}

.cta:hover {
    outline: var(--outline--light);
    opacity: .9;
}

#backToTop {
    position: fixed;
    bottom: 5%;
    right: 1rem;
    z-index: 1;
    padding: .5rem;
    background-color: var(--accent-light-color);
    border-radius: .5rem;
    color: var(--primary--dark-color);
    border: none;
    text-transform: uppercase;
    width: 20vw;
    font-size: 1rem;
    opacity: .5;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vw;
    background-image: url("./imgs/footer.jpeg");
    background-size: contain;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    align-self: end;
    align-items: end;
}

footer p {
    margin: .5rem;
    font-weight: 200;
    font-size: .7rem;
    text-align: right;
}

footer span {
    font-size: .5rem;
}

.colored {
    opacity: .1;
}

.hidden {
    display: none;
}

/* for gallery.html */
.gridBlock {
    display: grid;
    max-width: 1000px;
    grid-template-areas:
    "img-1 img-1 img-2 img-2 img-7 img-7"
    "img-1 img-1 img-4 img-4 img-7 img-7"
    "img-5 img-6 img-6 img-6 img-7 img-7"
    "img-3 img-6 img-6 img-6 img-9 img-9"
    "img-8 img-6 img-6 img-6 img-9 img-9"
    ;
    margin: 1rem auto;
    gap: .4rem;
    grid-auto-rows: 1fr;
    
}

.gridBlock img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    outline: none;
    box-shadow: 0 0 5px #333333;
}

.img-1 {
    grid-area: img-1;
}

.img-2 {
    grid-area: img-2;
}

.img-3 {
    grid-area: img-3;
}

.img-4 {
    grid-area: img-4;
}

.img-5 {
    grid-area: img-5;
}

.img-6 {
    grid-area: img-6;
}

.img-7 {
    grid-area: img-7;
}

.img-8 {
    grid-area: img-8;
}

.img-9 {
    grid-area: img-9;
}


/* Tablet style */
@media only screen and (min-width: 768px) {
    *{
        font-size: 16px;
    }

    h1 {
        margin-top: .5rem;
        margin-bottom: .2rem;
        margin-left: 0;
    }
    
    h2 {
        margin-top: .5rem;
        margin-bottom: .2rem;
    }
    
    h3 {
        margin-top: .5rem;
        margin-bottom: .2rem;
    }

    img {
        width: 45%;
    }

    header {
        align-items: center;
    }

    header nav {
        width: 100%;
    }

    li a, #mobileMenuButton {
        border-width: .3rem;
        font-size: 1.5rem;
        padding: .2rem;
    }

    .card {
        align-items: center;
        margin: .5rem 0;
        width: 75%;
        align-self: center;
    }

    .card p {
        margin: .5rem 0;
    }

    .skillBox span {
        font-weight: 400;
        font-size: 3rem;
    }

    progress {
        width: 70vw;
    }

    #backToTop {
        bottom: 1%;
    }
}

/* Big screen style */
@media only screen and (min-width: 1400px) {
    *{
        font-size: 26px;
    }

    h1 {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    
    h2 {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
    
    h3 {
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    img {
        width: 100%;
    }
   
    header {
        align-items: center;
        height: 15vw;
    }

    header nav {
        width: 100%;
        margin: 1rem;
    }

    #mobileMenuButton {
        display: none;
    }

    .navButtonsBox {
        display: flex;
        flex-direction: row;
    }

    header ul li {
        display: flex;
        margin-top: auto;
    }

    li a {
        font-size: 2rem;
        padding: .2rem;
    }

    .block {
        padding: .5rem;
        margin-bottom: .5rem;
    }

    .cardBox {
        flex-direction: row;
    }

    .card {
        margin: 0 1rem;
    }

    .card p {
        margin-bottom: 1rem;
    }

    .unit {
        flex-direction: row;
        width: 100%;
        margin-bottom: 1rem;
    }

    .unit img {
        flex: 2;
        width: 25%;
        object-fit: cover;
        margin: 0;
    }

    .unit div {
        flex: 1;
    }
    
    .unit p {
        flex: 5;
        margin-left: .5rem;
    }

    .unit:nth-child(2n+1) {
        flex-direction: row-reverse;
    }

    .unit:nth-child(2n+1) p {
        margin-left: 0;
        margin-right: .5rem;
    }

    .skillBox {
        align-self: flex-start;
       
        margin: 0 .5rem;
    }

    .skillBox span {
        font-weight: 800;
        font-size: 2rem;
    }

    progress {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        width: 100%;
    }

    input {
        width: 45%;
    }
    
    .cta {
        font-size: 1.5rem;
    }

    #backToTop {
        width: 10vw;
    }

    footer span {
        font-size: .6rem;
        bottom: 5%;
    }
}