:root {
    --primary-light-color: #333333;
    --primary--dark-color: #d3d3d3;

    --secondery-light-color: #4078c0;
    --secondery-dark-color: #67a5f5;

    --accent-light-color: #e50d0d;
    --accent-dark-color: #fb3434;

    --outline--light: 3px solid var(--secondery-light-color);
    --outline--dark: 3px solid var(--secondery-dark-color);

    --border--light: 2.5px solid var(--primary-light-color);
    --border--dark: 2.5px solid var(--primary--dark-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--primary-light-color);
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 32px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

h2 {
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: 19px;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-style: normal;
    background-color: var(--primary--dark-color);
    margin: .5rem;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vw;
    background-image: url("./imgs/header.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 3rem;
}

header nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem;
}

header ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}

li a {
    text-decoration: none;
    color: var(--primary--dark-color);
    border: var(--border--dark);
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    padding: .5rem;
    opacity: .9;
}

li a:hover {
  background-color: var(--secondery-light-color);
  
}

main {
    display: flex;
    flex-direction:column;
    width: 100%;
}

.block {
    padding: .5rem;
}

.unit {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    justify-content:space-between;
}

.unit .textBox {
margin-left: .5rem;
}

.unit:nth-child(2n+1) {
    flex-direction: row-reverse;
}

.unit:nth-child(2n+1) .textBox{
    margin-left: 0;
    margin-right: .5rem;
}

.imgBox {
    width: 20vw;
    border-radius: 10%;
}

.textBox {
    width: 77vw;
}


img {
    border-radius: .5rem;
    width: 100%;
    object-fit: cover;
}

#projects, #skills  {
    background: #c8f9cdd5;
    background: linear-gradient(180deg, #FFFFFF 0%, #c8f9cdd5 50%, #FFFFFF 100%);

}

#aboutMe {
    background: #c8e4f9d5;
    background: linear-gradient(180deg, #FFFFFF 0%, #c8e4f9d5 50%, #FFFFFF 100%);

}

.formBox {
    background-color: #c8e4f9d5;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 1rem;
    color: grey;
    margin-bottom: .3rem;
    margin: .3rem 0 .1rem 0;
}

input {
    width: 45%;
    padding: .5rem;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: .5rem;
}

#message {
    width: 100%;
    height: 5rem;
}

button {
    display: block;
    margin: auto;
    padding: .5rem;
    background-color: coral;
    border-radius: .5rem;
    color: #FFFFFF;
    border: none;
    margin-top: 1.5rem;
    text-transform: uppercase;
    width: 30%;
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vw;
    background-image: url("./imgs/footer.JPG");
    background-size: contain;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    align-self: end;
    align-items: end;
}

footer p {
    margin-right: 3rem .5rem;
    font-weight: 100;
    font-size: .7rem;
    text-align: right;
}

footer span {
    font-size: .6rem;
}